<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/Cernunt.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Théo "Savenhart" Lounissi</h5>
        <p class="card-text">
          Développeur depuis plus de 15 ans, joueur de jeux vidéo invétéré et amateur de festival de metal et de bierre.
        </p>
        <a href="https://github.com/Savenhart" class="btn btn-primary">GitHub</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/Cernune.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Erwan Stephan</h5>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/akita.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Manon "Tokeewi" Tayeb</h5>
        <p class="card-text">
          Graphiste
        </p>
        <a href="www.manontayeb.ovh" class="btn btn-primary">www.manontayeb.ovh</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/Cernuna.jpeg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Antoine Prevost</h5>
        <p class="card-text">
        </p>
      </div>
    </div>
  </div>
</div>
