<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/doge.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Théo "Savenhart" Lounissi</h5>
        <p class="card-text">
          Plus polemiqueur que Zemour.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/welsh-corgi-pembroke.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Erwan</h5>
        <p class="card-text">
          Stagiaire
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/akita.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Manon</h5>
        <p class="card-text">
          Graphiste
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" style="width: 18rem">
      <img src="../../../assets/img/pug.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Antoine</h5>
        <p class="card-text">
          Monsieur blague
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
